<a href="https://colab.research.google.com/github/UnknownMie/ML-Lab-Assignment-2/blob/main/ML_Lab_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

###**Part 1**

Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data Source

In [2]:
data_cus=pd.read_csv('/content/AWCustomers.csv')
data_sales=pd.read_csv('/content/AWSales.csv')

In [3]:
data_cus.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [4]:
data_sales.head()

   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

(a)Remove all the unnecessary attributes.

In [5]:
data_cus.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [6]:
data_sales.columns

Index(['CustomerID', 'BikeBuyer', 'AvgMonthSpend'], dtype='object')

In [7]:
#to avoid repetition when we concatenate both datasets
data_sales.drop(['CustomerID'],axis=1,inplace=True)

(b) Create a new Data Frame with the selected attributes only.

In [8]:
df=pd.concat([data_cus,data_sales],axis=1)
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,M,M,1,3,0,1,81916,2017-03-06,1.0,50.97
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,M,M,1,2,1,2,81076,2017-03-06,1.0,53.11
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,F,S,0,3,0,0,86387,2017-03-06,1.0,54.08
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,M,M,1,2,1,2,61481,2017-03-06,1.0,56.93
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,M,S,1,1,0,0,51804,2017-03-06,1.0,55.41

In [9]:
df.shape

(18361, 26)

In [10]:
df.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated', 'BikeBuyer', 'AvgMonthSpend'],
      dtype='object')

In [11]:
#Let's remove irrelevent columns
df.drop(['Title','Suffix','Education','MaritalStatus','Occupation','Gender','PhoneNumber','MiddleName'],axis=1,inplace=True)

In [12]:
df.head()

,CustomerID,FirstName,LastName,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,PostalCode,BirthDate,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,Chad,Yuan,7090 C. Mount Hood,NaN,Wollongong,New South Wales,Australia,2500,1987-11-13,1,3,0,1,81916,2017-03-06,1.0,50.97
1,13249,Ryan,Perry,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,Canada,V9B 2C3,1972-07-21,1,2,1,2,81076,2017-03-06,1.0,53.11
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,NaN,West Covina,California,United States,91791,1985-11-09,0,3,0,0,86387,2017-03-06,1.0,54.08
3,13503,Theodore,Gomez,2103 Baldwin Dr,NaN,Liverpool,England,United Kingdom,L4 4HB,1977-10-18,1,2,1,2,61481,2017-03-06,1.0,56.93
4,22803,Marshall,Shan,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,Germany,59368,1975-02-05,1,1,0,0,51804,2017-03-06,1.0,55.41

In [13]:
df['NumberChildrenAtHome'].unique()

array([0, 1, 2, 3])

In [14]:
df['HomeOwnerFlag'].unique()

array([1, 0])

In [15]:
print(df['BikeBuyer'].unique())
print(df['BikeBuyer'].isnull().sum())

[ 1.  0. nan]
6

In [16]:
df['AddressLine2'].isnull().sum()

18050

In [17]:
df.shape[0]

18361

In [18]:
#As most of the data values are missing from column 'AddressLine2', we'll remove it.
df.drop(['AddressLine2'],axis=1,inplace=True)
df.describe()

,CustomerID,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend
count,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18355.00000,18355.000000
mean,20241.987092,0.610588,1.270301,0.338162,0.850389,72754.779642,0.55173,51.767207
std,5336.332731,0.487630,0.913989,0.568957,0.927315,30686.014313,0.49733,3.438024
min,11000.000000,0.000000,0.000000,0.000000,0.000000,25435.000000,0.00000,44.100000
25%,15621.000000,0.000000,1.000000,0.000000,0.000000,53312.000000,0.00000,49.410000
50%,20248.000000,1.000000,1.000000,0.000000,0.000000,61851.000000,1.00000,51.420000
75%,24863.000000,1.000000,2.000000,1.000000,2.000000,87410.000000,1.00000,53.600000
max,29483.000000,1.000000,5.000000,3.000000,3.000000,139115.000000,1.00000,65.290000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   FirstName             18361 non-null  object
 2   LastName              18361 non-null  object
 3   AddressLine1          18361 non-null  object
 4   City                  18361 non-null  object
 5   StateProvinceName     18361 non-null  object
 6   CountryRegionName     18361 non-null  object
 7   PostalCode            18361 non-null  object
 8   BirthDate             18361 non-null  object
 9   HomeOwnerFlag         18361 non-null  int64
 10  NumberCarsOwned       18361 non-null  int64
 11  NumberChildrenAtHome  18361 non-null  int64
 12  TotalChildren         18361 non-null  int64
 13  YearlyIncome          18361 non-null  int64
 14  LastUpdated           18361 non-null  object
 15  BikeBuyer             18355 non-null  float64
 16  AvgMonthSpend         18355 non-null  float64
dtypes: float64(2), int64(6), object(9)
memory usage: 2.4+ MB

In [20]:
#changing datatype for "BirthDate" and "LastUpdated"
df=df.astype({'BirthDate': 'datetime64[ns]'},copy=False)
df=df.astype({'LastUpdated': 'datetime64[ns]'},copy=False)

(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of each attribute in your selection to identify preprocessing tasks to create input for your data mining.

**Categorial and Numerical Data values**

In [21]:
var_cat=[]
var_num=[]
for c in df.columns:
    if df[c].dtype=='object':
        var_cat.append(c)
    if (df[c].dtype=='int64'or df[c].dtype=='float64'):
         var_num.append(c)
print("Categorical Variables: ",var_cat)
print("Numerical variables: ",var_num)

Categorical Variables:  ['FirstName', 'LastName', 'AddressLine1', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode']
Numerical variables:  ['CustomerID', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome', 'BikeBuyer', 'AvgMonthSpend']

**Discrete and Continuous Data Values**

In [22]:
num_discrete=[]
num_continuous=[]
for c in var_num:
    if df[c].dtype=='int64':
        num_discrete.append(c)
    elif df[c].dtype=='float64':
        num_continuous.append(c)
print("Discrete: ",num_discrete)
print("Continuous: ",num_continuous)

Discrete:  ['CustomerID', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
Continuous:  ['BikeBuyer', 'AvgMonthSpend']

###**Part 2: Data Preprocessing and Transformation**
Depending on the data type of each attribute, transform each object from your preprocessed data.
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do not perform each task on the smaller data set that you got from your random sampling result.


(a) Handling NULL values

In [23]:
df.isnull().sum()

CustomerID              0
FirstName               0
LastName                0
AddressLine1            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
BirthDate               0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
BikeBuyer               6
AvgMonthSpend           6
dtype: int64

In [24]:
df[df['BikeBuyer'].isnull()]

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,BirthDate,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
18355,14522,Omar,Zheng,8527 Rock Oak Road,Melton,Victoria,Australia,3337,1967-08-20,1,1,1,2,30442,2017-03-06,NaN,NaN
18356,25414,Grace,Bailey,6627 Camelback Ct.,Coronado,California,United States,92118,1990-11-11,0,1,0,2,52953,2017-03-06,NaN,NaN
18357,11459,Tasha,Deng,9627 Kendall Rd,Port Macquarie,New South Wales,Australia,2444,1992-10-13,0,2,0,0,60992,2017-03-06,NaN,NaN
18358,12160,Jaclyn,Zhang,4364 Viera Avenue,Beaverton,Oregon,United States,97005,1983-11-24,0,2,0,0,51859,2017-03-06,NaN,NaN
18359,14353,Erin,Reed,3866 Mt. Everest Court,Vancouver,British Columbia,Canada,V7L 4J4,1995-06-15,0,0,0,0,87177,2017-03-06,NaN,NaN
18360,16676,Amanda,Perry,7870 Orangewood Dr.,Grossmont,California,United States,91941,1986-03-26,1,2,0,0,136856,2017-03-06,NaN,NaN

In [25]:
(df.isnull().sum()/df.shape[0])*100

CustomerID              0.000000
FirstName               0.000000
LastName                0.000000
AddressLine1            0.000000
City                    0.000000
StateProvinceName       0.000000
CountryRegionName       0.000000
PostalCode              0.000000
BirthDate               0.000000
HomeOwnerFlag           0.000000
NumberCarsOwned         0.000000
NumberChildrenAtHome    0.000000
TotalChildren           0.000000
YearlyIncome            0.000000
LastUpdated             0.000000
BikeBuyer               0.032678
AvgMonthSpend           0.032678
dtype: float64

In [26]:
#As Null values are not that impactful to our results, we can remove them
df.dropna(axis=0,inplace=True)
df=df.astype({'BikeBuyer': 'int64'},copy=False)

(b) Normalization

In [27]:
#Normalising using MinMaxScalar
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df['AvgMonthSpend_Normalised']=scaler.fit_transform(df['AvgMonthSpend'].values.reshape(-1,1))
df['YearlyIncome_Normalised']=scaler.fit_transform(df['YearlyIncome'].values.reshape(-1,1))

In [28]:
len(df['YearlyIncome'].value_counts().index)

15351

In [29]:
bin_YearlyIncome=np.arange(min(df['YearlyIncome']),max(df['YearlyIncome']),20000)
len(bin_YearlyIncome)
YearlyIncome_label=['below low','low','Medium','above medium','High']

In [30]:
df['YearlyBinned']=pd.cut(df['YearlyIncome'],bins=bin_YearlyIncome,labels=YearlyIncome_label)
#For Attribute "AvgMonthSpend"
print(max(df['AvgMonthSpend']))
print(min(df['AvgMonthSpend']))

65.29
44.1

In [31]:
bin_AvgMonthSpend=np.arange(min(df['AvgMonthSpend']),max(df['AvgMonthSpend']),5)
len(bin_AvgMonthSpend)
label_AvgMonthSpend=['Low','Medium','Above Medium','High']
df['AvgMonthSpend_binned']=pd.cut(df['AvgMonthSpend'],bins=bin_AvgMonthSpend,labels=label_AvgMonthSpend)

In [32]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder()
onehotencoder.fit_transform(df['HomeOwnerFlag'].values.reshape(-1,1))

<18355x2 sparse matrix of type '<class 'numpy.float64'>'
	with 18355 stored elements in Compressed Sparse Row format>

###**Part 3 : Calculating Proximity /Correlation Analysis of two features**
(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.

In [33]:
# Jaccard Similarity = (number of observations in both sets) / (number in either set)
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union
jaccard(df['YearlyIncome'],df['AvgMonthSpend'])

0.0

In [34]:
jaccard(df['NumberChildrenAtHome'],df['BikeBuyer'])

5.448403617740002e-05

(b) Calculate Correlation between two features Average Month Spend and Yearly Income

In [35]:
df['YearlyIncome'].corr(df['AvgMonthSpend'])

0.012202883547392651